@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #336699;
}

#game-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #336699;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#character-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.character-card {
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: #e74c3c; /* Nouvelle couleur */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Pour obtenir des boutons ronds */
    cursor: pointer;
    margin: 0 10px; /* Espacement entre les boutons */
    text-decoration: none; /* Pour les liens internes dans les boutons */
}

.button a {
    text-decoration: none;
    color: #ffffff; /* Couleur du texte */
}

/* Supprimez la bordure du lien pour enlever le trait */
.button a:focus, .button a:active {
    outline: none;
    border: none;
}


/* Ajoutez ces styles à votre fichier style.css */
.box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game-box h2 {
    color: #336699;
    margin-bottom: 10px;
}
